/*notes in css are done with slash,star and ended with star,slash*/

#cover-image{
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
body{
    background-color: #c1a36f;
    font-family: 'open sans', sans-serif;
    
    
}

.bold-text{
    font-weight: 800;
    font-style: oblique;
}


/*base font doesnt like italics*/
p{
    text-align: center;
    vertical-align: middle;
    /* line-height: 90px;    */
}


footer{
    text-align: center;
    vertical-align: middle;
    /* line-height: 90px;    */
    background-color: brown;
    padding: 20px 0px;
    margin: 0 40%;
}

.container{
    display:flex;
    justify-content: space-around;
    margin: 10px 0px 10px;
    background-color: darkgoldenrod;
    width: 100%;

}

.little-container{
display:flex;
flex-direction:column;
}

.header{
    color: cyan;
}